/* Write your CSS here */
.layout {
  color: white;
  font: 600;
}
.layoutContainer {
  background-color: #475569;
  padding: 12px;
}

.checkContent {
  color: white;
}

@media (min-width: 768px) {
  .checkContent {
    color: white;
  }
  .leftAlign {
    margin-left: 30px;
  }
}

.align {
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 4px 0px;
}
